@font-face {
  font-family: nasa;
  src: url(nasalization-rg.otf);
}

.button {
  border: 2px solid #2E3532;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  transition-duration: .4s;
  cursor: pointer;
  background-color: #AFD2E9; 
  color: #000000; 
}

.button:hover {
  background-color: #048A81;
  color: white;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.nasa {
  font-family: nasa;
}

.mediaDiv {
  margin: auto;
}

.media {
  display: block;
  margin: auto;
}

.txtCenter {
  text-align: center;
}